{% extends "layout.html" %} {% block title %} Teams {% endblock %} {%
    block main %}
    {% if results %}
    <h1>All Teams</h1>
    <p class="lead">
      TOTAL RESULTS: {{ results }}
        <div class="content-container">
          <div class="table-wrapper">
            <table class="table align-middle">
            <thead>
                <tr>
                    <th class="thead-custom">#</th>
                    <th class="thead-custom">Logo</th>
                    <th class="thead-custom">Name</th>
                </tr>
            </thead>
            <tbody>
                {% for result in data %}
                    <tr onclick="postToUrl('/teams', {selected_id: '{{ result.id }}'})">
                        <td>{{ loop.index }}</td>
                        <td><img class="team-img" src="{{ result.get('logo-link') }}" alt="Logo"></td>
                        <td>{{ result.name }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>
            </div>
            <!-- Card with team previev -->
            <div class="card">
                <img src="{{ selected.get('logo-link') }}" class="card-img-top" alt="{{ selected.name }} logo">
                <div class="card-body">
                  <h2 class="card-title" style="padding: 5px;">{{ selected.name }}</h2>
                  <div class="card-text" style="padding: 15px;">
                    <p>Base: {{ selected.base }}</p>
                    <p>Entry year: {{ selected.entry_year }}</p>
                    <p>Championships: {{ selected.championships }}</p>
                    <p>Pole positions: {{ selected.pole_positions }}</p>
                    <p>Fastest laps: {{ selected.fastest_laps }}</p>
                    <p>President: {{ selected.president }}</p>
                    <p>Director: {{ selected.director }}</p>
                    <p>Technical manager: {{ selected.technical_manager }}</p>
                    <p>Chassis: {{ selected.chassis }}</p>
                    <p>Engine: {{ selected.engine }}</p>
                    <p>Tyres: {{ selected.tyres }}</p>
                  </div>
                  <!-- Dodawanie do ulubionych -->
                  <a href="#" class="btn btn-warning" style="padding: 10px;">Add to favorites</a>
                </div>
              </div>
          </div>  
        </p>
      {% else %}
        <h1>No results found</h1>
      {% endif %}

<!-- Load JavaScript file -->
<script src="{{ url_for('static', filename='scripts.js') }}"></script>
{% endblock %}
    